.section-title, .section-header {
  background-color: #00304E;
  color: white;
}
.section-body {
  background-color: white;
  color: #00304E;
}
header {
  background-color: #00304E;
}
main a, footer a {
  color: #00304E;
}

