html, a {
  background-color: white;
  color: #333333;
}
svg {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.light-theme-only {
  display: inline;
}
.dark-theme-only {
  display: none;
}
@media (prefers-color-scheme: dark) {
  html, a {
    background-color: #333333;
    color: white;
  }
  .logo {
    box-shadow: 0 0 5px white;
  }
  .light-theme-only {
    display: none;
  }
  .dark-theme-only {
    display: inline;
  }
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding: 1rem;
}

.logo {
  margin: 0 1rem 0 0;
  float: left;
  height: 4.5rem;
}

h1 {
 margin: 3rem 0 1rem 0;
}
h2 {
 margin: 2rem 0 1rem 0;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}
.grid img {
  width: 100%;
}

@media (max-width: 480px) {
  .grid {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

.contacts {
  text-align: center
}
.contacts img {
  height: 2.5rem;
}
.contacts a, .contacts a:visited {
  text-decoration: none;
  margin: 0 .25rem;
}

footer {
  margin-top: 10vh;
  text-align: center;
}





