/* Theming Light and Dark */

:root {
  --light-inline: inline;
  --light-block:  block;
  --dark-inline:  none;
  --dark-block:   none;

  --background-color: white;
  --foreground-color: #121212;
}
@media (prefers-color-scheme: dark) {
  :root {
    --light-inline: none;
    --light-block:  none;
    --dark-inline:  inline;
    --dark-block:   block;

    --background-color: #121212;
    --foreground-color: white;
  }
}
.light-theme-only-inline {
  display: var(--light-inline);
}
.light-theme-only-block {
  display: var(--light-block);
}
.dark-theme-only-inline {
  display: var(--dark-inline);
}
.dark-theme-only-block {
  display: var(--dark-block);
}

/* Mobile Responsiveness */

body {
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}
.grid img {
  border-radius: .5rem;
  width: 100%;
}
@media (max-width: 480px) {
  .grid {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

/* Other Styles */

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}
a {
  color: var(--foreground-color);
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

header {
  margin: 2rem 0;
  display: grid;
  gap: .5rem;
}
header > h1 {
  margin-bottom: 0;
}
.social-links {
  display: flex;
  gap: .5rem;
}
.social-links img {
  height: 1rem;
}
.social-links a, .social-links a:visited {
  text-decoration: none;
}

footer {
  margin-top: 100px;
  text-align: center;
}

li {
  margin-bottom: .5rem;
}
