/* Theming Light and Dark */

html {
  background-color: white;
  color: #121212;
}
a {
  color: #121212;
}
.light-theme-only-inline {
  display: inline;
}
.light-theme-only-block {
  display: block;
}
.dark-theme-only-inline, .dark-theme-only-block {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
    color: white;
  }
  a {
    color: white;
  }
  .light-theme-only-inline, .light-theme-only-block {
    display: none;
  }
  .dark-theme-only-inline {
    display: inline;
  }
  .dark-theme-only-block {
    display: block;
  }
}

/* Mobile Responsiveness */

body {
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}
.grid img {
  border-radius: .5rem;
  width: 100%;
}
@media (max-width: 480px) {
  .grid {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

/* Other Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
}

header {
  display: grid;
  grid-template-columns: 6rem 2fr;
  margin: 2rem 0;
}

header img {
  border-radius: .5rem;
}

header h1 {
  margin: auto 1rem;
}

footer {
  margin-top: 100px;
  text-align: center;
}

h1 {
  margin: 3rem 0 1rem 0;
}

