.section-title, .section-header {
  background-color: #11240C;
  color: white;
}
.section-body {
  background-color: white;
  color: #11240C;
}
header {
  background-color: #11240C;
}
main a, footer a {
  color: #11240C;
}
