/*
  Colors
*/
header {
  background-color: #1a5a4a; 
  color: white;
}
main {
  color: #1a5a4a;
}
main > .section:nth-child(2n + 1) {
  background-color: #1a5a4a;
  color: white;
}
main > .section:nth-child(2n) {
  background-color: white;
  color: #1a5a4a;
}
main > .section:nth-child(2n + 1) a {
  color: white;
}
main > .section:nth-child(2n) a {
  color: #1a5a4a;
}